[2016-02-06 17:39] Hades32 opened #2 "Bring autocomplete to the vscode"
Thanks for getting Elixir support into VSCode!

How about joining forces with https://github.com/wende/autocomplete-elixir/issues/40 and bring auto-complete as well?

[2016-02-10 01:54] sschneider1207 opened #3 "Syntax highlighting for string interpolation"
It would be nice to have interpolated variables (e.g. `bar` in `"foo #{bar}"`) highlighted in a different way then strings do to make them stand out more clearly.

For example the vim elixir plugin colors the `#{}` red, the actual variable uncolored, and the rest of the string purplish-pink.

[2016-02-17 08:05] philipgiuliani commented on #2
Im also using VSCode now and i'd love to see a better Elixir support in VSCode. Integration for linters, autocomplete. Since VSCode has already good API's for this, it should be pretty easy todo! I would also help where i can.

[2016-04-14 20:51] Hades32 commented on #2
VSCode recently reached 1.0 and thus should provide a stable API.

[2016-04-15 08:38] mat-mcloughlin commented on #2
Hey guys, sorry for the late reply. This repo has laid dormant for a while as I've just not had the time.

I'm back on it now and keen to get intellisense implemented. I'm busy until the end of next week but should have time to start working on it then

[2016-04-15 08:39] mat-mcloughlin commented on #3
Good idea, I'll look into it but it shouldn't be too hard

[2016-04-15 12:26] philipgiuliani commented on #2
Awesome to hear that! Thanks a lot @mat-mcloughlin!

[2016-04-25 07:32] fr1zle commented on #2
Hi @mat-mcloughlin and others,

since I wanted to play around with the vscode API anyway, i started working on autocomplete here:
https://github.com/fr1zle/vscode-elixir/tree/feat/alchemist-server

It uses https://github.com/tonini/alchemist-server (not current master) and is heavily inspired by https://github.com/msaraiva/atom-elixir

Currently the implementation is a bit unstable, but i hope to

[2016-04-25 09:02] mat-mcloughlin commented on #2
@fr1zle that's awesome. Going to take a look. But obviously would be very interested

[2016-05-04 14:52] sds88 opened #6 "Atom syntax highlighting is broken"
After updating my VS Code atom syntax highlighting no longer works.

Example:
![image](https://cloud.githubusercontent.com/assets/3618974/15018088/38ca46d6-11e6-11e6-8e84-dcc50714e453.png)

VS Code version:
![image](https://cloud.githubusercontent.com/assets/3618974/15018034/fdfbe686-11e5-11e6-8a58-f08d063216f5.png)

vscode-elixir version:
0.0.5

[2016-06-13 10:47] #2 closed

[2016-06-13 19:46] philipgiuliani opened #7 "Syntax highlighting not working"
Hi! My syntax highlighting of elixir files is not working.

Plugin: 0.6.0
VSCode: 1.2.0

I recently used https://github.com/torrick/vscode-elixir-lang but i uninstalled it now and installed this plugin.

As you can see in the bottom right corner the language has been recognized. I also tried a few Color themes. Torrick's one worked fine. Of course i tried closing and reopening it ect.. I have the

[2016-06-13 22:40] brettcrowell commented on #7
I'm experiencing the same issue on my Mac.  To get highlighting _today_, I was able to clone an old commit into the `~/.vscode/extensions` directory.

If it helps you in the immediate term, this is the commit I've fallen back to...
https://github.com/mat-mcloughlin/vscode-elixir/tree/31cea7b240f3b8dcc56055a8f0c0294d3f69b25d

[2016-06-14 02:58] jknipp commented on #7
Same issue here on my Mac.

[2016-06-15 05:50] Insanitariume commented on #7
Having the same issue here too, both on Windows and Mac, after updating the extension.

[2016-06-15 09:24] philipgiuliani commented on #7
@mat-mcloughlin we need you!! :)

[2016-06-15 10:02] mat-mcloughlin commented on #7
Looking into it now :)

[2016-06-15 10:07] mat-mcloughlin commented on #7
@philipgiuliani can you confirm, are you just opening up and individual file or as part of opening a folder?

[2016-06-15 10:10] philipgiuliani commented on #7
@mat-mcloughlin I've tried both possibilities.

Can you maybe try to remove the extension from .vscode/extensions and do a clean install? Maybe you have some development files left?

[2016-06-15 10:12] mat-mcloughlin commented on #7
no I don't think its that. I only get the problem when its a single file. I'll push a branch up soon. If you can test it that would be great

[2016-06-15 10:13] philipgiuliani commented on #7
Sure i can test that! :)

![bildschirmfoto 2016-06-15 um 12 13 35](https://cloud.githubusercontent.com/assets/5446019/16076238/9bb5ae84-32f2-11e6-8f97-e2673248d560.png)

[2016-06-15 11:42] rkaramc commented on #7
@mat-mcloughlin syntax highlighting wasn't functional when I installed from the visual studio marketplace. I assume you are "vsce package"+"vsce publish"ing the extension? May need to explicitly copy the grammar/etc files into ./out for vsce to pick them up. I expect cloning the repo into .vscode/extensions won't trigger this issue.

[2016-06-15 12:07] fr1zle commented on #7
This was caused by my PR @mat-mcloughlin Sorry i totally forgot to update it. Check out my comment in #8

[2016-06-15 21:37] mat-mcloughlin commented on #7
@philipgiuliani you still have a folder open there. See below

![image](https://cloud.githubusercontent.com/assets/2362687/16098181/ab0f6184-3349-11e6-9fd1-a4858f3fcec6.png)

@fr1zle is looking good but there is just one small bug in it that I'm hoping he'll kindly fix

[2016-06-16 12:26] #6 closed

[2016-06-16 12:26] mat-mcloughlin commented on #7
All seems to be good now

[2016-06-16 12:26] #7 closed

[2016-06-16 18:40] philipgiuliani commented on #3
This has been fixed by the latest PR.

![bildschirmfoto 2016-06-16 um 20 39 38](https://cloud.githubusercontent.com/assets/5446019/16128815/7a6eca74-3402-11e6-8d53-c308962f2cd0.png)

[2016-06-17 06:50] #3 closed

[2016-06-25 20:06] coryc5 opened #10 "Syntax rules changed?"
It appears syntax rules have changed between the last few commits.

At 71e5b29/HEAD^ :
<img width="402" alt="screen shot 2016-06-25 at 12 55 08 pm" src="https://cloud.githubusercontent.com/assets/14861205/16358816/d45b4642-3ad4-11e6-8339-7007f74d40ce.png">

At master:
<img width="360" alt="screen shot 2016-06-25 at 12 55 35 pm" src="https://cloud.githubusercontent.com/assets/14861205/16358818/ddcb

[2016-06-30 13:58] Fahrradflucht opened #11 "Emmet doesn't work in eex files."
If you hit `tab` or fire the emmet expand abbr. command via the command it just makes a tab in eex files. I think it would be nice if it kept working like it does in HTML.

[2016-06-30 20:33] gregcline opened #12 "Autocomplete when typing `do`"
When writing `do` the plugin wants to autocomplete to `doc`, so often end up deleting a doc comment I accidentally autocompleted, and if I want to avoid trailing whitespace I do a couple quick arrow strokes to get rid of the autocomplete prompt.

[2016-06-30 20:34] philipgiuliani commented on #12
Yes it happens every time for me! :( Should really be fixed...

[2016-07-06 07:36] fr1zle commented on #12
Noticed this as well, will look into it once i find some time

[2016-07-06 07:36] fr1zle commented on #11
Noticed this as well, will look into it once i find some time

[2016-07-06 07:37] fr1zle commented on #10
Yes the rules changed, we now use the ones provided by the official atom package. Does the change look that extreme in other themes as well?

[2016-07-07 05:57] coryc5 commented on #10
From what I can tell, the issue seems to be limited to just Monokai-based themes.

[2016-07-07 05:57] #10 closed

[2016-07-07 10:56] ssijak opened #13 "Improvements for documentation"
Is there a way to incorporate DOCL command of alchemist server into vscode-elixir plugin. Is there a standard "trigger" that could trigger that command in vscode? Or it could be bind to a shortcut? DEFL is used for autocompletion and it is great, but sometimes I would need more help documentation provided by DOCL. Maybe I could implement it if you could just point me into the right direction (how

[2016-07-07 12:15] ssijak commented on #13
I cloned the repo and when try to start the extension from the vscode and open mix project it fails with :

    at Socket.emit (events.js:182:7)
    at readableAddChunk (_stream_readable.js:153:18)
    at Socket.Readable.push (_stream_readable.js:111:10)
    at Pipe.onread (net.js:531:20)

[2016-07-08 11:06] fr1zle commented on #13
This may be a new issue with Elixir 1.3
Will try to look into it this weekend

[2016-07-12 15:53] thousandsofthem opened #14 "Weird autocomplete on "do""
How to reproduce:
* Start writing new function
* Type `do`
* Hit enter
Editor will autocomplete do to full multiline `@doc` block

Expected:
Inserting new line, nothing fancy ;)

[2016-07-13 06:40] philipgiuliani commented on #14
This is a duplicate of https://github.com/mat-mcloughlin/vscode-elixir/issues/12 . Close and add a comment there ;)

[2016-07-13 07:26] #14 closed

[2016-07-18 17:41] lindend commented on #12
I also ran into this, however I found that creating a custom snippet for `do` works well as a workaround (File -> Preferences -> User Snippets):

[code]

[2016-07-19 09:02] Fahrradflucht opened #15 "Add completion for cond macro."
At the moment `cond` only gets completed to `cond/1` which is quite useless. I think there is room for a snippet.

Maybe I will look into that myself later.

[2016-07-19 09:06] Fahrradflucht commented on #12
Just a quick comment on @lindend's snippet. There are 3 spaces in front of the `$1`.
My linter freaked out on that. 😀

[2016-07-19 09:40] lindend commented on #12
Weird, it's a tab in my vs code. Must have been some issues with my copy-paste transfer to the comment :).

[2016-07-19 09:54] squallified opened #16 "No autocomplete for erlang modules"
To reproduce just type `:random.` or `:crypto.`. There will be no autocomplete.

[2016-07-19 17:53] Fahrradflucht commented on #12
I looked into that some more and I think thats all there is to it. There just isn't a `do`-block snippet. I add that and do a PR.

[2016-07-20 10:38] Fahrradflucht opened #19 "Add completion for case macro."
## Current behavior:

`case` gets autocompleted to `case/2`. That is near useless.
## Expected behavior:

`case` get autocompleted to:

[code]

[2016-08-04 06:15] #12 closed

[2016-08-04 06:16] #15 closed

[2016-08-04 15:13] Fahrradflucht commented on #11
Just to clarify whats going on (at least how I understand it):

The filetypes in which Emmet is enabled are [hardcoded in the vscode source](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/emmet/node/editorAccessor.ts#L20) at the moment. That means the only way we could get emmet to work in `.eex` files is to associate the `.eex` extension with html but that would be bad bec

[2016-08-13 19:40] sstine opened #21 "Highlight start of code block when selecting the end, and vice versa"
It'd be nice if when selecting `end` in the code block below, `def` is highlighted, and vice versa.  Currently VSCode just highlights other instances of `end`.

[code]

[2016-08-23 14:52] mat-mcloughlin commented on #21
worryingly when I searched google for how/if this is possible this issue came up. I'm not sure if this is achievable with the VSCode extensions at the moment but I will look into it

[2016-08-23 14:58] Fahrradflucht commented on #21
I think the Ruby extension does this. I already tried finding the code the does this but got tired.

[2016-09-02 14:20] Fahrradflucht opened #22 "Intellisense sometimes inserts argument count"
This issue illustrates best with an example:

Open an Elixir file and write `__MODU` you will get completion for `__MODULE__/0`. The `/0` is useful when you look at the suggestion to see that it doesn't take any arguments, but it is pointless to insert it on `TAB`.

This doesn't happen all the time though. For example `String.first` does not have a `/1`.

I think removing the `/ARG_COUNT` from Int

[2016-09-07 19:00] mrkaspa commented on #22
I have this problem too

[2016-09-16 21:43] scottmcpherson commented on #22
Same here. Are there any work arounds for this?

[2016-09-18 08:51] Fahrradflucht commented on #11
I looked into this and tried to implement it like it is done in [vscode-vash](https://github.com/mrmlnc/vscode-vash) and described [here](https://github.com/Microsoft/vscode/issues/11139) but I couldn't yet get it to work.

@fr1zle could you explain to me why there are two files for eex syntax ([eex.json](https://github.com/mat-mcloughlin/vscode-elixir/blob/master/syntaxes/eex.json) and [html (eex

[2016-09-18 09:13] mrmlnc commented on #11
@Fahrradflucht,

In your case you have incorrect format identifiers. See:

  * https://github.com/mat-mcloughlin/vscode-elixir/blob/master/package.json#L22 - Correct
  * https://github.com/mat-mcloughlin/vscode-elixir/blob/master/package.json#L34 - Incorrect. Should be `eex`
  * https://github.com/mat-mcloughlin/vscode-elixir/blob/master/package.json#L44 - Incorrect. Should be `htmlexx`

Now you c

[2016-09-22 13:59] Fahrradflucht commented on #22
None that I know of

--

I just realized that there IS a situation where you want to have the argument count.
It's when you pass a function as  an argument to another function like so:
[code]

But that doesn't mean that this is a reason to not suggest the version without the count in Intellisense. In addition to that I would say that if there is a quick fix that removes the arg count and doesn't s

[2016-10-03 12:16] daemonfire300 opened #25 "Proposal+Snippet: Mix Tasks"
Hi there,

using your extension, liking it very much. :+1: However sometimes IntelliSense reaches its limits, due to the project not being compiled for a while.
For this a made a simple task, maybe this can be integrated into the extension somehow. I am new to VS Code and didn't quickly find a place where to chuck this in a make a PR.

[code]

[2016-10-10 15:18] plamb commented on #21
It may be a completely separate thing but matching/highlighting in eex templates would be a welcome addition too. Specifically on opening/closing element tags, i.e. <div></div>, and opening closing < >. If you switch the language over to the stock html one it does this already. It looks like for eex it is highlighting all instances of a given tag.

[2016-10-13 22:29] choiway opened #27 "Quotes don't autocomplete"
Is this intentional or did I miss a setting?

[2016-10-29 19:31] mrkaspa commented on #22
Is this alive?

[2016-11-10 10:55] Fahrradflucht opened #28 "Keep an eye on alchemist-server/ElixirSense"
I'm just opening this issue because the @mat-mcloughlin mention didn't work. @msaraiva plans to do a refactoring/rewrite of the alchemist-server and I think we should really keep an eye out for this.

Read more [here](https://github.com/tonini/alchemist-server/issues/6#issuecomment-256243983)

[2016-11-12 16:45] #19 closed

[2016-11-14 17:00] MisterSpicy opened #29 "Syntax Highlighting not working properly - VS1.7.1, Plugin: 0.0.8"
I'm having some trouble getting the plugin to operate properly.  There appears to be some level of syntax highlighting, but not what seems is supposed to be there.

Intellisense also doesn't seem to run when typing, but if I force with cmd+space, the auto-complete window pops up, but nothing while typing automatically.  I uninstalled all other extensions and deleted all user and custom settings to

[2016-11-21 14:38] wildchildEric opened #30 "word based suggestions not work"
seems that it breaks the word based suggestions supported by default.

[2016-11-28 00:48] mrkaspa opened #31 "Is this project alive?"

[2016-11-28 09:40] Fahrradflucht commented on #31
I don't understand what this issue is about. frizzle merged a pull request just 16 days ago. And I think that if you fix an issue and provide a good pull request then there is a good chance that it will eventually get merged, maybe not the same or next day, but eventually.

[2016-11-28 09:46] Fahrradflucht commented on #29
The syntax highlighting issue is due to your color scheme. If you for example switch to Solarized Light the modules would get highlighted just as you would expect.

I don't no why intellisense doesn't pop up for you. WFM at least. Are there suggestions in the Intellisense tray if you hit CMD+Space?

[2016-11-28 09:51] Fahrradflucht commented on #27
I didn't test this but shouldn't this be fixed with #23 ?

If so then this is just a matter of @mat-mcloughlin pushing a version update to Visual Studio Marketplace.

[2016-11-28 14:02] #31 closed

[2016-12-01 21:19] mat-mcloughlin commented on #27
I'm pushing tomorrow.

I apologise for my absence

[2016-12-02 13:19] mat-mcloughlin commented on #31
sorry, it is still alive I just got behind on things

[2016-12-02 17:18] #27 closed

[2016-12-03 22:03] mat-mcloughlin commented on #30
I'm not sure what you mean by word based suggestions, Is there any chance you could you please clarify

[2016-12-03 22:13] mrkaspa commented on #31
@mat-mcloughlin thanks, is there a way to pull changes from master to use the lastest version of this plugin

[2016-12-03 22:17] mat-mcloughlin commented on #31
@mrkaspa the latest release is in the market place now

[2016-12-06 14:00] eduardonunesp commented on #30
@mat-mcloughlin I think @wildchildEric is talking about the words which appear in the autocomplete  box, the words related to the current file

[2016-12-06 14:11] mat-mcloughlin commented on #30
ah the default auto completion functionality. Would this still be useful? I kinda think it might make it more difficult to find the completion you require

Thoughts?

[2016-12-06 21:50] mrkaspa commented on #22
This happened when autcompletes __MODULE__ I get __MODULE__/0

[2016-12-07 02:37] eduardonunesp commented on #30
Kind of useful though, it's good to have some words next to the fingers, actually I think the priority is the Elixir completion then the suggestion it's ok to have too

[2016-12-08 07:00] fr1zle commented on #21
https://github.com/rubyide/vscode-ruby/blob/master/ruby.js#L11

This is how the ruby plugin does it (see the following lines)
I will try to implement this here, if noone else wants to take a look?

[2016-12-14 11:12] barthr opened #37 "User Alchemist for vscode-elixir"
I think it would be a nice feature if the plugin also supported alchemist!

link: https://github.com/tonini/alchemist-server

[2016-12-14 11:13] #37 closed

[2016-12-15 01:46] kexoth opened #38 "Symbol Marking"
This extension doesn't support symbol navigation as I tested on my projects, i.e. when you type `cmd+shift+O` it says `No symbol information for this file.`

Does this extension support this, if not are there any plans to support it in near future?

Thanks for the awesome work on this extension so far 👍

[2016-12-16 12:44] #22 closed

[2016-12-16 12:44] #29 closed

[2016-12-30 13:09] matramos commented on #30
I also have this **bug**.
It doesn't suggest anything. Nor elixir related, or variables in the program related.

[2016-12-30 16:32] jakedeichert commented on #30
I had the same issue yesterday @matramos. My intellisense is now working after installing elixir with homebrew on macOS. Not sure about Windows.

It wasn't working for me because I do local development inside docker containers and native programs like vscode can't find/run/reference software in my container (such as elixir). Although, I can still develop in my container and just let vscode-elixir

[2017-01-02 10:37] fr1zle commented on #30
Currently we don't queue reguests to the alchemist-server: https://github.com/mat-mcloughlin/vscode-elixir/blob/master/src/elixirServer.ts#L98

This may result in Completion sometimes not appearing. That should however not lead to word based suggestion not working. I havent been able to reproduce this yet.

[2017-01-02 17:28] WildYorkies opened #39 "Atoms (as keys or standalone) have no syntax coloring, they're just white text."
See the example below how `:ok` should be dark blue. Same example you show in your screenshot in the readme. Not sure why it's just white in my editor.

[code]

[2017-01-03 11:28] fr1zle commented on #39
It does work when using other color schemes:

![image](https://cloud.githubusercontent.com/assets/311019/21606464/0d7c1646-d1b0-11e6-9f64-2eccc82b99f1.png)

Will try to figure out why that is, though.

[2017-01-05 16:52] Chillee opened #41 "Autocomplete doesn't trigger when there's already a suggestion popup."
For example, as I type List, an autocomplete box pops up suggesting the list module. However, at the end, when I press ".", which should trigger autocomplete, all it does is remove the current autocomplete box. I need to then delete the period and retype it to trigger autocomplete.

1. Start typing List.zip
2. Autocomplete shows up while typing List, but disappears once you type the period.
3. You

[2017-01-06 06:17] fr1zle commented on #41
Can reproduce, thanks for reporting

[2017-01-09 19:37] lebart opened #42 "User snippets aren't working in eex/HTML (Eex)"
Hello,

I'm trying adding some snippets for my eex files but they wouldn't show up. At first I was thinking that my installation/settings could be in conflict. But after a clean install I cannot make them working.

Infos:

Mac os: 10.12.2
VSCode: 1.8.1
VSCode-Elixir: 0.1.1

In a phoenix project, I go to :

code > pref > user snippets

I select HTML (Eex) and add this for instance:

[code]

I try t

[2017-01-17 16:35] ankos opened #45 "Autocompletion on elixir 1.4 not working"
I am a bit at a loss regarding how to fix this. The plugin is working flawless on Windows, but on Linux (Mint 18.1, Elixir 1.4) the autocompletion does not work.
Tried to things to find out whats wrong:
1. Started the alchemist-server which comes along with the plugin. It produces a lot of warnings and the code examples shown on the github page are not working. Example:
[code]
2. Cloned the code f

[2017-01-18 08:55] fr1zle commented on #45
It seems to work for me on Fedora 25 and Ubuntu LTS.
Can you open the Developer Tools (via Help) and see if there are any errors in there?

The Version of our included alchemist-server may not be compatible with the latest version in the upstream git.

[2017-01-18 17:15] ankos commented on #45
Two things I can see:

1.) Errors during the start: also copied the log message that the included alchemist server displays while starting.

[code]

2.) Strange behavior whenever I'm trying to look something up. For example typing `Range. ` yields following error message. Every other module does the same thing:

[code]

[2017-01-19 07:36] fr1zle commented on #45
@ankos thanks. I was able to reproduce this on elixir 1.4

Issue 1) should be solved with #24 Although this is not really an issue since the plugin runs fine on elixir 1.3.x and should do so in 1.4 if it wasnt for
Issue 2) this needs to be fixed in our alchemist-server 'fork', i will look into this as soon as i find some time.

[2017-01-23 07:48] mat-mcloughlin opened #47 "Need a sample application"
Could do with a standard application that contains most of the elixir syntax. Then we can use it to test against

@fr1zle any recommendations?

[2017-01-23 14:49] ctrlShiftBryan commented on #47
I'd love to help here. Would a phoenix application make sense? Should it just be another repo on github somewhere or actually in this repo? Would a git submodule make sense?

If you like the submodule idea we could do the same for the alchemist sever and then just use our own fork in order to stay up to date with changes on from @tonini.

[2017-01-23 17:22] mat-mcloughlin commented on #47
tbh anything will do. I was hoping to find something that was already out there but I'm happy with anything. If you want to build something by all means

[2017-01-25 12:21] high1 opened #48 "Extension not working with Elixir 1.4"
On Windows 10, after updating to Elixir 1.4, autocomplete stops working. Reverting to 1.3 fixes it.
Windows 10, Visual Studio Code 1.8.1, Elixir 1.4

[2017-01-25 13:30] fr1zle commented on #48
Hi, thanks for reporting. I think this a duplicate of #45

Could you maybe check if you get the same errors?

[2017-01-25 15:31] high1 commented on #48
Getting the same exception. This is a duplicate of #45, so I will close this one, but the title on the active issue should be updated. Thanks.

[2017-01-25 15:31] #48 closed

[2017-01-25 15:35] high1 commented on #45
I closed the issue #48 as a duplicate of this one, but this issue affects Windows also, so this is a Elixir 1.4 issue with alchemist-server really.

[2017-01-25 16:27] fr1zle commented on #45
@mat-mcloughlin now that elixir 1.4 gains momentum, i think we should merge #24 and #46 and release a new version.

[2017-01-28 10:54] mat-mcloughlin commented on #45
agreed. Run off my feet again but I'm gonna make some time over the weekend to pull everything together an publish

[2017-01-28 14:43] #45 closed

[2017-01-28 14:51] mat-mcloughlin opened #49 "Better way to manage to alchemist server"
Ideally I'd like to pull it in as a git submodule to better manage the upgrades. That being said though if alchemist isn't being worked as much anymore it might make sense to fork our own copy of it and pull that instead

@fr1zle thoughts?

[2017-01-28 16:05] Lokeh commented on #47
It looks like atom-elixir uses this a minimal sample: https://github.com/msaraiva/atom-elixir/blob/master/spec/fixtures/sample.ex
[code]

[2017-01-30 03:00] Korbin73 commented on #49
This makes a lot of sense. In elixir 1.4, there are a lot of warnings that are getting logged at compile time. I had to change some code in the extension on my local machine to ignore warnings because it was flagging that the alchemy server was busy. Should I do a pr for this minor fix? Or will you guys be taking on a copy of alchemist and resolving the warnings?

[2017-02-03 04:32] mattbaker opened #50 "`doctest` taking precedence over `do` in autocomplete"
I'm noticing that `do` is autocompleting to `doctest` in ExUnit tests:

<img width="508" alt="screen shot 2017-02-02 at 10 27 31 pm" src="https://cloud.githubusercontent.com/assets/55462/22579575/cffe1720-e996-11e6-927f-6b00f0fcb9cc.png">

A few thoughts:

 * Should snippets like do/end take precedence over suggestions like this?
 * Should `do` be a special case that takes priority because it's so

[2017-02-06 13:59] hoovercj commented on #50
I believe this is just how vs code handles suggestions.

See the [customizing intellisense](https://code.visualstudio.com/docs/editor/intellisense#_customizing-intellisense) section of the vscode docs. if you add `editor.snippetSuggestions: "top"` to your settings, you should see `do` before `doctest/2`.

Also, if you want to set this setting only for elixir files, check out the new [language spec

[2017-02-06 14:23] hoovercj commented on #39
I believe this is because the default themes do not define a color for the token scopes `constant.other.symbol` or `constant.other`.

In vscode 1.9 you can now inspect the scopes that are found for a token (command palette: Inspect TM Scopes) which shows the following (note: it gives the token type and says that no theme selector is being used):

![image](https://cloud.githubusercontent.com/assets

[2017-02-06 14:51] WildYorkies commented on #39
Makes sense. Odd that the default it opens with doesn't use a theme for those :/

[2017-02-06 14:51] #39 closed

[2017-02-06 14:59] mattbaker commented on #50
@hoovercj — That's super helpful, thanks so much @hoovercj. I'll close this (and, on the off chance I find a different fix, I'll try and contribute a PR)

[2017-02-06 14:59] #50 closed

[2017-02-10 01:46] lebart commented on #42
I try to add them directly in the extension folder:

Inside package.json:

[code]

Putting snippets inside `snippets/html.eex.json` file make them work (after a vscode restart), but user snippets (not via the extension) are still not working.

I read the "how to make an extension" docs, but I didn't find out how to "enable" the user snippet for a specific language.

In the extension description/co

[2017-02-12 17:32] assafmo opened #51 "Code formatting"
Please add support for code formatting (like https://golang.org/cmd/gofmt/ fo go).

[2017-02-12 19:48] Fahrradflucht commented on #51
How do you imagine this feature? There is no standard tool in elixir for code formatting like there is `gofmt` in go.

There [was a discussion](https://groups.google.com/forum/#!topic/elixir-lang-talk/CfYVmQpKPIw) on the elixir-lang-talk mailing list about this and the feature request was basically dismissed.

That said I thought about a similar feature today: There are basically two big linters i

[2017-02-12 20:27] assafmo commented on #51
The basic is probably just provide indentation when the keymap for `editor.action.formatDocument` is hit.
E.g.
[code]
Or
[code]
Will become
[code]

[2017-02-13 16:30] Aleksion commented on #2
@fr1zle
This is an awesome contribution!
But I can't seem to get it to work. I'm really new to elixir, so it might be a beginners error, but what are the prerequisites? I've installed the extension. Created a new mix project. But autocomplete doesn't seem to be working on any of my modules (I have added typespecs to them)

Thank you

[2017-02-13 16:48] fr1zle commented on #2
@Aleksion no there should not be any more prerequisites. Could you check in developer tools (Help -> Developer Tools) if there are any errors showing?

[2017-02-13 18:38] smt923 commented on #2
I was having issues but after reinstalling it seems better now, but is there any way to get all completions instead of just the ones after a first character? The atom extension works like that and I do prefer it, but would much rather use vscode with the same functionality:

[vscode](http://i.imgur.com/HoXnlNX.png)

[atom](http://i.imgur.com/ShxGAGr.png)

[2017-02-14 08:06] kexoth commented on #51
@assafmo the right place to ask for this feature is Microsoft/vscode#4039

[2017-02-15 23:32] smt923 commented on #2
@fr1zle actually the extension just stopped working for me again, I managed to get a bunch of errors in the console that appear to be related, hopefully it helps reveal something:

http://pastebin.com/uJ4UZywx

I'm running windows 10 64bit, latest elixir/vscode-elixir/vscode, and node 6.5.0

[2017-02-16 09:13] Aleksion commented on #2
@fr1zle - seems like I'm getting the same error as @smt923
![screen shot 2017-02-16 at 10 12 17](https://cloud.githubusercontent.com/assets/3367641/23014738/7c19aecc-f430-11e6-8371-6375bef3ff08.png)

[2017-02-16 09:20] fr1zle commented on #2
Those should all be fixed on the current master. @mat-mcloughlin is master up to date with the extensions store? if not, would you mind publishing?

[2017-02-27 08:39] mat-mcloughlin opened #54 "Need someone to take over the project"
Hey guys,

I started this project over a year ago now as a little investigation into how you could add elixir support to visual studio. Since then the project has gathered a bit of momentum and there are now quite a few people using it.

However, throughout this time I haven't really looked after the project as I should. I kept promising myself that I would eventually find the time to sort this, w

[2017-02-27 08:49] fr1zle commented on #54
Hey @mat-mcloughlin,

when I decided to build the auto-complete feature in vs-code i basically had the choice between publishing a new plugin or adding to the one you created. Since the open source philosophy always very close to my heart i decided against creating a new plugin and instead contributed to yours.
My contribution obviously changed the project from fairly low maintanence to needing up

[2017-02-27 08:53] mat-mcloughlin commented on #54
@fr1zle meet me on gitter now?

[2017-02-28 16:26] fr1zle commented on #54
We are currently trying to figure out how to move this extension on the vs code marketplace so that there is no action required by our users:
https://github.com/Microsoft/vscode/issues/21478

[2017-02-28 18:58] mat-mcloughlin commented on #54
@fr1zle they've updated it, if you let me know how you wanna proceed

[2017-03-01 07:05] fr1zle commented on #54
@mat-mcloughlin check gitter :-)

[2017-03-03 09:48] mat-mcloughlin commented on #54
@fr1zle I'm trying to give you publishing rights but I'll be damned if I can find the web page to do so. I've asked the question but if you can find it?

[2017-03-06 08:29] fr1zle commented on #54
@mat-mcloughlin only way i can think off is you giving me an access key thingy in VS Team Services... Maybe reopen the ticket in vscode?

[2017-03-06 10:04] mat-mcloughlin commented on #54
you think this would be easier :) I don't have the permissions to re-open. I'll keep chasing but in the mean time if you need me to publish I can

[2017-03-07 20:44] DarthIwan opened #55 "Autocomplete not working properly?"
Hi there,

first of all, thanks for this extension. I like Code very much and was happy to see an extension for Elixir for it.

Unfortunately I have some trouble to use it. I'm not sure if it's just me, or something is not working properly. But if I begin to type a word and Intellisense shows up (example def/2) and I press the Tab or Enter all I get is really the def/2 in the editor. Is it on purp

[2017-03-08 08:07] fr1zle commented on #55
I think this is an old bug (#22) but this should be fixed in 0.1.1. Are running the latest version?

I currently can't reproduce this on master, I will push out a new build once we have transitioned the rights to publish to me.

[2017-03-08 18:51] fr1zle commented on #54
@mat-mcloughlin they answered, did you get around to try their solution yet?

[2017-03-08 18:52] philipgiuliani commented on #55
I also have this bug in version 0.1.1.

![bug](https://cloud.githubusercontent.com/assets/5446019/23718677/ba9e813c-0438-11e7-8686-212dcaa80660.gif)

[code]

[2017-03-08 18:59] fr1zle commented on #55
Thanks for the detailed report @philipgiuliani

Appearently the fix for #22 wasn't yet published in 0.1.1

I will publish the update once @mat-mcloughlin and I figure out how to transfer ownership

[2017-03-08 19:57] mat-mcloughlin commented on #54
I noticed. I'll give it a shot tonight

[2017-03-09 13:08] mat-mcloughlin commented on #54
@fr1zle

"Under Roles you can add additional users and give them publish access. You need to use the login that the user will have for VSTS. They will also need to have created a Personal Access Token for that account with access to all accounts."

Need some details

[2017-03-09 13:58] fr1zle commented on #54
@mat-mcloughlin lets talk on gitter

[2017-03-09 18:08] fr1zle commented on #55
@philipgiuliani @DarthIwan I pushed a new update, can you confirm that this issue is fixed now?

[2017-03-09 18:12] philipgiuliani commented on #55
Just updated and works great! :)
Thank you very much!

[2017-03-09 18:15] fr1zle commented on #55
Thanks for your feedback :-)

[2017-03-09 18:15] #55 closed

[2017-03-09 18:48] fr1zle commented on #54
@mat-mcloughlin I was able to push an update, i guess we can close this issue now?

[2017-03-10 08:51] mat-mcloughlin commented on #54
yep that all looks good to me. By all means get in touch if you need me for anything else

[2017-03-10 08:51] #54 closed

[2017-03-13 09:42] rubencaro opened #56 "Regular autocomplete is lost"
On version 0.1.2

When I start writing a word in a file, usually Code gives me at least code completion for plain text words (see the small 'abc' icon) searching on open files. This works for all kinds of files, and even for Elixir unsaved ('Untitled', not on disk) files. Like this:
![seleccion_368](https://cloud.githubusercontent.com/assets/472823/23848557/1e90603c-07d8-11e7-8ffd-4799089e8104.png

[2017-03-13 16:34] kexoth commented on #56
The same is on my machines too, even after everything is compiled.

I'm on Elixir 1.4, are you too?

[2017-03-13 17:41] rubencaro commented on #56
Yes Elixir 1.4

El 13 mar. 2017 5:34 p. m., "Aleksandar Kex Trpeski" <
notifications@github.com> escribió:

[2017-03-13 18:59] fr1zle commented on #56
Hmm i currently can't reproduce this issue:
![image](https://cloud.githubusercontent.com/assets/311019/23870665/7649fb54-0827-11e7-81f8-4c096101e9fd.png)
Could you maybe open up developer tools (via Help) and paste anythings thats looks like an error in here?

[2017-03-14 09:38] rubencaro commented on #56
I attach you the complete sequence of an example. I expect the word
'expression' to be suggested when I write 'exp', as it is a word that is
present in the current file.

While I go on writing you can see that some completions are suggested, but
not the plain text one.

The last one is the output in console. It's the same output repeated
several times.

Hope it helps !

[image: Imágenes integradas

[2017-03-14 13:56] fr1zle commented on #56
Hey @rubencaro appearently github doesn't include images send via mail. Could you upload them via the web interface?
Thanks a bunch!

[2017-03-14 14:06] fr1zle commented on #51
@assafmo I don't think there is any tool for formatting that is widly accepted by the community.
I agree that this would be somewhat useful but it seems that the community has decided against it for now.

I also think code formatting is best done independent of the used editor, Therefor i will (for now) close this issue.

[2017-03-14 14:06] #51 closed

[2017-03-15 09:44] fr1zle commented on #56
Thanks @rubencaro, seems to be the same issue as #30, will look into it once i get some time!

[2017-03-15 19:06] #16 closed

[2017-03-15 19:06] #41 closed

[2017-03-17 23:55] lperiodbose commented on #42
I followed @lebart 's steps above modifying the package by hand and was finally able to add snippets. My install is able to add user snippets for .ex and .eex, but not for the .html.eex language. It's really odd.

[2017-03-18 14:03] lebart commented on #42
@lperiodbose I end up making my own extension for the snippets. I'll post the steps I've done for the html.eex files or if I have more time I'll publish the extension for the snippets.

[2017-03-20 07:57] fr1zle commented on #13
This has been implemented via #35

[2017-03-20 07:57] #13 closed

[2017-03-20 18:36] fr1zle commented on #42
Sorry to hear you guys are having issues. It might be due to HTML (Eex) having some specials chars in its name.

I will look into other extensions to see how they do their naming.

[2017-03-20 18:45] lebart commented on #42
@fr1zle that would be great, I think it's better allowing user snippets and keep a unique extension for elixir.

[2017-03-26 11:29] michalmuskala commented on #56
This might be related to https://github.com/Microsoft/vscode/issues/21611

[2017-04-07 16:12] iJackUA opened #59 "Path mapping to support "Go to detention" inside Docker"
Is it possible somehow to specify path mapping between container FS and Host FS?

Because currently if I develop locally using Docker containers Erlang/Elixir by itself and my source code are placed inside the container.
VSCode is installed on my host machine (not inside the container).
`_build` folder and `.beam` files are exposed via FS sharing to host.
So VSCode can see `.beam` and I suppose th

[2017-04-09 08:41] fr1zle commented on #59
Interesting setup. Can you maybe open up the developer console in vscode (via the "Help" menu) and try a few go to definitions and make a screenshot / copy of the log output?

An example docker-compose file may also be of interested so that i am able to reproduce the use case.

[2017-04-09 09:36] fr1zle opened #60 "Switch to ElixirSense"
Instead of using @msaraiva alchemist-server fork we should migrate to his new project ElixirSense https://github.com/msaraiva/elixir_sense

[2017-04-10 09:19] iJackUA commented on #59
I am so glad you are interested :)

I have created a test repo with minimalistic MIX app https://github.com/iJackUA/vscode-elixir-docker-test
And I have put in README steps to reproduce and expected results.

As for DevTool console, here is output I can trace (with those test project)

**On Host machine** (Hover + Cmd + Click redirects to correct Definition)
[code]

**On Docker**  (Hover + Cmd + C

[2017-04-12 08:34] e-kuzminov-md commented on #59
I am not experienced in VSCode extensions development, but locally I did a proof of concept "hack" in https://github.com/fr1zle/vscode-elixir/blob/bffea3539ccfd605dfc62729551d86fd886ba153/alchemist-server/lib/api/defl.exs#L118

Added string replace

[code]

And now in my test project it seems that Go to definition works in both cases with local compile and Docker compile.

But this solution requir

[2017-04-27 06:52] dmzkrsk opened #62 "Different highlight for variables starting with underscore"
Atom has it. Can it be implemented for VS Code?

[2017-05-01 09:46] #47 closed

[2017-05-01 09:47] fr1zle commented on #28
Tracked in #60

[2017-05-01 09:47] #28 closed

[2017-05-09 08:15] xareelee opened #64 "Autocomplete with `do`"
When typing `do`, it shows an autocomplete list as following:

![screen shot 2017-05-09 at 16 11 57](https://cloud.githubusercontent.com/assets/804308/25841329/42efd940-34d2-11e7-9882-81cfb8d2a676.png)

The `do...end` snippet is not the first match on the list. Any following **tab** or **enter** instruction will autocomplete with the first match — `defoverridable`, which is not what I want.

It's

[2017-05-09 12:20] fr1zle commented on #64
This seems to be a regression with the latest visual studio code update.
I am not sure, wether there is a way for an extenstion do mitgate this,

Will definately look into that though!

[2017-05-09 13:10] fr1zle commented on #64
Microsoft confirmed that this is a bug and it will be fixed in the next recovery build.

See
https://github.com/Microsoft/vscode/issues/26182
https://github.com/Microsoft/vscode/issues/26306

[2017-05-09 13:10] #64 closed

[2017-05-10 12:07] stuartbain commented on #64
Add the following line to your VSCode preferences to fix this in the current version:
`"editor.snippetSuggestions": "inline"`

[2017-05-13 03:12] hbobenicio opened #65 "Autocomplete not working (hangs on "Loading...")"
Environment:

Visual Studio Code: 1.12.1
vscode-elixir: 0.4.1
OS: Kubuntu 16.04 LTS

Issue Description:

Autocompletion suddenly stopped working (since a few weeks ago, not sure when exactly).
When trying to autocomplete some Elixir code with CTRL+Space, the box "Loading..." pops up and doen't resolve in anything.

Developt Console gives the following error:
"[Extension Host] [vscode-elixir] serve

[2017-05-13 03:25] hbobenicio commented on #65
Just saw that is may be related to Issue #30 . It won't work Elixir Suggestions nor Word Suggestions.

Forgot to inform:
My Elixir Instalation:

$ elixir --version
Erlang/OTP 19 [erts-8.3] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.4.2

It was installed with [asdf version manager](https://github.com/asdf-vm/asdf) and [asdf-elixir plugin](https://github.com/

[2017-05-13 03:33] hbobenicio commented on #30
Same issue here.

[2017-05-13 06:25] fr1zle commented on #65
Hey, thanks for reporting, I am sorry to hear you are having this issue.

Did the issue appear once you started using asdf? Can you get me the output of `which elixir`?
Can you restart VSCode and let me know what is logged in the developer console right after the start?

Thank you!

[2017-05-13 10:34] hbobenicio commented on #65
It's totally ok! =)
Thanks for the quick answer!

Nope, I have always had asdf from the beginning. I use it at work too and the autocompletion works there!

[code]

Anymore info I could provide or test I could made, please, let me know.
Thanks!

[2017-05-13 10:39] hbobenicio commented on #65
One curiosity: How does vscode-elixir builds the suggestion list? Does it parse my code and erlang/elixir code searching for symbols (or symbols files) from times to times? Is there a way to debug this process?

[2017-05-15 16:39] cjfreeze opened #66 "Autocomplete on do should create do end block"
Currently when you type `do` and autocomplete it autocompletes to `defoverridable` which makes sense from a programmatic standpoint, but would be much more useful if it finished the `do end` block and set your cursor inside the `do end` block.

So E.G.
![image](https://cloud.githubusercontent.com/assets/11078691/26068385/f0bdfd74-3962-11e7-8904-b17ab685a587.png)
Would instead autocomplete to
![ima

[2017-05-15 16:59] jfh-crim commented on #65
I'm having the same issue on my computer at work, but my home computer is fine. I'm scratching my head to find the difference. On both, I installed the latest version of VS Code, and used brew to install Elixir.

The one difference I found is, for some reason, my default login shell is csh at work and bash at home. Not sure if it's supposed to make any difference. I change it to bash just in case,

[2017-05-15 17:09] #66 closed

[2017-05-15 17:19] fr1zle commented on #65
Sorry, i have been a bit busy this weekend.

Could you ( @hbobenicio  & @jfh-crim ) try to navigate to `~/.vscode/extensions/mjmcloug.vscode-elixir-0.4.1/out/src/elixirServer.js` and change line 8 from
`        this.command = 'elixir';`
to:
`        this.command = 'your/elixir/bin/path/elixir';

And check for me if that changes anything?

[2017-05-15 17:28] jfh-crim commented on #65
In fact, I rebooted my computer, which I hadn't done after changing my default login shell to bash, and now it works! So I do think it's somehow related. Or... there was some unrelated problem which got fixed rebooting my Mac.

Now:

[2017-05-18 00:12] hbobenicio commented on #65
@fr1zle , sorry for the delay. These has been some busy days here...
Well.. changed that as described. Same error though.

[2017-05-18 00:26] hbobenicio commented on #65
Actually, I was only checking the autocomplete use case.
I noticed that, when VSCode starts, I get this (with `this.command = '/home/hugo/.asdf/shims/elixir';`)

![image](https://cloud.githubusercontent.com/assets/1121074/26181501/e5cc4890-3b46-11e7-9621-3633a3bda815.png)

and this as default (with `this.command = 'elixir';`):
![image](https://cloud.githubusercontent.com/assets/1121074/26181546/56

[2017-05-18 00:44] hbobenicio commented on #65
I think I'm getting what it's happening...

Just added the following:

`
// elixirServer.js - ElixirServer() function
console.log('PATH: ' + process.env.PATH);
console.log('PWD: ' + process.env.PWD);
`

And I got this:
![image](https://cloud.githubusercontent.com/assets/1121074/26181812/7485994a-3b49-11e7-9a2c-4b480f8edafe.png)

As I configured my Elixir path on ~/.bashrc, it was not executed by V

[2017-05-18 01:10] hbobenicio commented on #65
Got it working now... just after starting VSCode from terminal (which opens as a child process from bash, which loaded ~/.bashrc)!

I was opening VSCode by the shortcuts from my desktop. I don't know how it won't work from the desktop or lauchers (created by vscode .deb installations), but at least I can use the autocomplete now =).

Anyway, thanks for the help, @fr1zle .
I guess we can close the

[2017-05-18 06:37] fr1zle commented on #65
Okay, maybe make sure that bash is your login - shell as well?

I am closing this for now as this issue seems to be specific to users environments.

[2017-05-18 06:37] #65 closed

[2017-05-23 13:14] iJackUA commented on #59
Hint for this who struggle because of the same issue.
Temporary and the most less obtrusive way to do a hardcode fix, create a local symlink (for the case explained abowe)

`sudo ln -s /Users/ievgen/Projects/Elixir/vscode-elixir-docker-test /www`

Just set you paths. Now VSCode while trying to access source codes in /www folder get forwarded to real sources via symlink and all Go to Definiton requ

[2017-06-03 17:18] thegaryroberts opened #68 "Documentation Enhancement - Theme Info"
Can you update the Readme with details of the VS Code theme being used in the syntax highlighting examples.

I've not been able to get matching highlighting with any theme I've tested and this would make it clear if it is a bug with the extension or a configuration issue on my machine. Thanks.

[2017-06-04 09:31] fr1zle commented on #68
Sure! Will add this info soon. For now: I am using the 'Atom One Dark' Theme.

[2017-06-04 20:53] thegaryroberts commented on #68
Great thanks, that explains how I couldn't get it working. Installed that 'Atom One Dark' theme and all syntax highlighting matches the examples now 👍

FYI: When using the 'Dark+ (default dark)' theme, there is no special colouring for the following
- `do:`
- `:atom`
- `#{...}` (i.e. string interpolation delimiters, the inner characters are coloured correctly)

Some of these have been mentioned in

[2017-06-07 18:10] mgartner opened #69 "Add ability to run a specific test or test file"
It would be very convenient to be able to add a keyboard shortcut to run a specific test file or even a test from within VS Code, much like `vim-test` provides for Vim.

[2017-06-08 05:22] fr1zle commented on #69
This was implemented in #52 by @Fahrradflucht. Sadly he didn't have the time & resources to fix this for Windows user.

I will try to get around to do that. Otherwise feel free to pick up from the PR and extend it.

[2017-06-27 21:32] bcardarella commented on #29
Is there a reason why only Solarized Light is supported?

[2017-06-28 11:09] fr1zle commented on #29
Solarized Light was only used as an example. There a many different themes on the marketplace that provide a greater variety of colors.

[2017-07-06 12:10] kaelumania opened #71 "Wrong indentation `case` with multiline clauses"
When having a `case` statement with multiline clauses, the indentation is wrong. I experienced similiar issues with `vim-elixir` (https://github.com/elixir-lang/vim-elixir), where most of the things got fixed. Maybe you could have a look at their implementation.

[2017-07-07 09:44] mat-mcloughlin commented on #69
@fr1zle I'm going to take a peak at this one if you haven't moved on with it?

[2017-07-07 11:05] bcardarella commented on #69
@mat-mcloughlin I was looking into this last week. I think we can get something more comprehensive if we encapsulate all of the possible `mix` tasks together. Something similar to TaskMaster: https://marketplace.visualstudio.com/items?itemName=ianhoney.task-master

it could get all of the available mix tasks for the project and make them available via a QuickPick menu. There could be additional ta

[2017-07-07 11:10] bcardarella opened #72 "Tab completion keyword ordering in test suite"
Not sure if this is being sorted by vscode and if the order can be changed, but in the test suite when you write:

[code]

the tab completion menu will then show:

<img width="972" alt="screen shot 2017-07-07 at 7 03 14 am" src="https://user-images.githubusercontent.com/18524/27955515-2eec0cf4-62e3-11e7-9766-7684e25e20c2.png">

with `doctest` as the first keyword to use. This is a frustrating expe

[2017-07-07 11:42] Fahrradflucht commented on #69
Like I already mentioned in my PR I think we should instead of proceeding  any further with my solution use the tasks API that vscode added in the meantime. My solution just prints the result to the output pane but with a provided task it would be possible to deliver a mix test problem matcher and inject the test errors with links to the failure points into the error pane.

[2017-07-07 11:49] bcardarella commented on #69
@Fahrradflucht I don't agree with using the Tasks API. From what I've seen, the Tasks API is a static list, it cannot be dynamically populated with the mix tasks available to the project.

[2017-07-07 15:57] bcardarella opened #73 "pop-up menu appears, how to disable?"
<img width="523" alt="screen shot 2017-07-07 at 11 55 32 am" src="https://user-images.githubusercontent.com/18524/27965914-538dd060-630b-11e7-96be-365caabd94cc.png">

When using a function this pop up menu will appear. The only way to make it go away is to click elsewhere in the buffer. Its pretty useless and annoying as it tends to cover quite a bit of code. Is there a way to disable?

[2017-07-08 20:41] bcardarella commented on #73
![jul-08-2017 16-40-14](https://user-images.githubusercontent.com/18524/27988934-323060d0-63fc-11e7-8e2f-78856b7316c8.gif)

Better demonstrates why this is annoying. It appears the docs keep popping over

[2017-07-08 20:49] bcardarella commented on #29
I'm still not clear why this won't work with the default theme for vscode

[2017-07-08 22:06] bcardarella commented on #73
This may not be this repo's fault. I found this setting and it seems to have quieted things down

https://stackoverflow.com/questions/41115285/disable-tooltip-hint-in-visual-studio-code

[2017-07-08 22:06] #73 closed

[2017-07-08 22:30] PotterDai commented on #72
Change vscode setting "editor.snippetSuggestions" to "top" will resolve the problem.

[2017-07-08 23:16] bcardarella commented on #72
Confirm, seems to be the case. Thank you.

[2017-07-08 23:16] #72 closed

[2017-07-11 23:52] bcardarella commented on #69
@Fahrradflucht perhaps I'm wrong, in the latest 1.14 release there is mention of "auto-detected tasks" It references TypeScript, Gulp, npm, as candidates for auto-detection. I'm going to research this and see if this fulfills the need to detect all mix tasks. That would be ideal.

[2017-07-13 09:58] edevil commented on #62
Shouldn't atoms be highlighted as well?

[2017-07-15 09:35] fr1zle commented on #71
hey, can you add an example screenshot? i think i know what you mean but having it visualised would be nice.
Thank you!

[2017-07-15 09:40] fr1zle commented on #69
@mat-mcloughlin sure, go ahead. I was on vacation for the last 10 days so please forgive my unresponsiveness ;-)

[2017-07-19 10:00] kaelumania commented on #71
I think as formatting is not part of this plugin, it's the wrong place to open an issue. sorry.

[2017-07-21 11:39] Iulian7 opened #76 "moduledoc support"
Maybe I have misconfigured something but it doesn't seem like the plugin knows about `@moduledoc`.

![screen shot 2017-07-21 at 13 35 01](https://user-images.githubusercontent.com/11798936/28461986-72f4b586-6e19-11e7-9605-08266c7ea335.png)

![screen shot 2017-07-21 at 13 35 47](https://user-images.githubusercontent.com/11798936/28462004-8651e1d0-6e19-11e7-963e-f77d12ab0f2b.png)

What is more, if I

[2017-07-21 11:44] Iulian7 opened #77 "spec support"
I will open e separate issues for each individual problem so they can be better followed. Similar to #76 it doesn't seem to care for `@spec`. This is significantly less important than #76 but I thought I should point it out.

![screen shot 2017-07-21 at 13 40 55](https://user-images.githubusercontent.com/11798936/28462177-67fc91b6-6e1a-11e7-8ae5-0958e7218a99.png)

![screen shot 2017-07-21 at 13 41

[2017-07-21 11:52] Iulian7 opened #78 "Inconsistent syntax highlighting for one line functions"
I don't know if this is a bug or if there is a reason for this it just seems inconsistent. `do` has a different colour than in the full form:

![screen shot 2017-07-21 at 13 48 45](https://user-images.githubusercontent.com/11798936/28462479-c4f6b864-6e1b-11e7-9d52-98781431c0fb.png)

[2017-07-21 20:01] mattbaker commented on #78
This seems reasonable to me since `do` is serving as a [keyword](https://elixir-lang.org/getting-started/case-cond-and-if.html#doend-blocks) in the latter example, but that's just my 0.02 as a passerby :)

[2017-07-22 18:44] fr1zle commented on #78
I have to agree with @mattbaker on this. The context is different.

[2017-07-22 18:44] #78 closed

[2017-07-22 18:45] fr1zle commented on #76
This should propably be a snippet.

[2017-07-24 16:02] patrickpichler opened #79 "Go to Definition not working on Windows"
When you try to use the "Go to Definition"-Feature on Windows, you will get an error reading e.g. "Unable to open 'd': File not found (\d).".

This problem is caused by the way the path is splitted in the file "elixirSenseDefinitionProvider.ts" on line 33. On Windows you will get a path like `D:\Elixir\Example\file1.ex:1` which will lead to a wrong initializiation of the `filePath`-Variable, which

[2017-07-27 06:08] fr1zle commented on #79
@patrickpichler can you install the latest update (0.5.1) and confirm that this has been fixed?

[2017-07-27 06:09] #71 closed

[2017-07-27 16:58] sammkj opened #82 "Is there a way to specify source path?"
My use-case is I have a monorepo which has the following project structure:

[code]

Currently, autocomplete doesn't seem to work with this project structure.

[2017-07-28 07:37] fr1zle commented on #82
You are right, this is currently not supported. Should be quite easy though, i will look into this after the weekend.

[2017-07-29 13:48] patrickpichler commented on #79
@fr1zle its working now! Thank you!

[2017-07-29 21:09] #79 closed

[2017-08-11 11:46] luizdamim commented on #62
I tried to tackle this issue and found that variables starting with underscore are identified as `unused.comment.elixir` scope, but I couldn't figure out where to set the color.

But VSCode's July update (1.15, released yesterday) added [custom syntax highlighting](https://code.visualstudio.com/updates/v1_15#_user-definable-syntax-highlighting-colors) where you can now customize the editor syntax

[2017-08-16 07:51] mkaput commented on #62
@edevil These settings also include colours for atoms (I also slightly tuned unused var colour)

[code]

[2017-08-23 15:16] mrkaspa commented on #56
I have the same issue

[2017-08-28 18:02] mrkaspa commented on #30
is there a way to solve this?

[2017-08-28 19:13] fr1zle commented on #30
Sadly no, this is an issue with vscode. You can read up on it in #56

Although I must say that i rarely find the word based suggestion that useful anyway. At least when the elixir sense autocomplete is working properly (which it should, if you regulary recompile your project.)

[2017-08-29 15:40] mrkaspa opened #88 "Is there a way to get in the autocomplete first the snippets?"
When I'm going to declare a function I type def but when I hit the one with the red cube it doesn't put the snippet, the snippet one is the one at the bottom

![screen shot 2017-08-29 at 10 39 05 am](https://user-images.githubusercontent.com/764271/29829965-6e629046-8ca6-11e7-9d7f-07cf69c675ab.png)

[2017-08-30 14:00] sadesyllas opened #89 "Support multiple folders in workspace"
First of all congratulations for your extension, it's great! 😃 👍

With regard to multiple folder support I see in the source that you are using `vscode.workspace.rootPath` which has been recently deprecated in favor of the new workspace related API.

Are you planning to support this change soon?

Would you be interested in a pull request where we start a client/server per workspace folder?

Then,

[2017-08-30 20:34] mat-mcloughlin commented on #89
It a common situation where you'd work on multiple elixir apps within the same workspace?

Would it be better just have a menu to select which folder you want to work from?

[2017-08-31 07:07] sadesyllas commented on #89
For me, it's quite common I believe.

For example, I am currently working on a group of apps where one depends on the other but I don't want them under an umbrella project.

They have to be in different repos.

So, in this case it's a huge time saver to be able to go from project to project in the same window.

Yesterday I implemented what I have written above, after forking this repo, and it seem

[2017-08-31 07:17] sadesyllas commented on #89
@mat-mcloughlin I just realized that didn't really answer your question above.

I think that having a menu and unloading/loading a server for the deselected/selected folder would be too time consuming when going from folder to folder.

On the other hand, having 100 folders in the same workspace would perhaps make my proposal unsusable.

In any case, I think that without misuse of the workspaces fe

[2017-08-31 12:01] sadesyllas commented on #89
In the forked repo I have implemented the following, which I am currently using:

1. On activation and if `useElixirSense` is `true`:
   1. If `autoSpawnElixirSenseServers` is `true` then we have the behavior described above: 1 server/folder where the folder must have a `mix.exs` as a direct child (since in a workspace elixir projects can reside alongside non-elixir projects)
   2. If `autoSpawnEl

[2017-08-31 13:11] mat-mcloughlin commented on #89
I'm wondering where the PR is :P

Sounds good to me but need to hear from @fr1zle on this too

[2017-08-31 16:17] fr1zle commented on #89
I honestly haven't looked much into the details of the vscode - extension API changes. Can you provide a link for the workspace related changes?

[2017-08-31 19:40] sadesyllas commented on #89
@mat-mcloughlin, I have to agree. Having the PR could prove beneficial. 😃

I just made the PR here: #91.

@fr1zle, the API and the deprecation warning of `rootPath` are here: https://code.visualstudio.com/docs/extensionAPI/vscode-api#_workspace.

[2017-09-03 10:05] danielburnley opened #92 "Support Espec test failures"
The `mixTestFailure` problem matcher doesn't match [espec](https://github.com/antonmi/espec) test failures due to the specific amount of white space in the regex.

The following problem matcher matches both Espec and ExUnit test failures

[code]

[2017-09-04 17:28] fr1zle commented on #88
You can only change this for every suggestion by setting "editor.snippetSuggestions" to top in your settings.

[2017-09-04 17:28] #88 closed

[2017-09-04 17:32] fr1zle opened #93 "Gather Error and Usage information"
With over 70k install it would be really nice to have some way of gathering errors when they occur at our users.

A service similiar to https://airbrake.io/ would be useful, but it would have to be free or rather cheap.

Seeing how many actual users we have would also be a nice metric.

[2017-09-04 21:12] #89 closed

[2017-09-07 03:28] alex88 commented on #62
Nice! Will these be included in the next release?

[2017-09-11 21:57] akcorp2003 opened #94 "Autocomplete Not Working"
Here are my specs:

MacOS Sierra 10.12.6
VS Code 1.16

[code]

[code]

I can't get autocomplete to work on a .esx file. I've already tried reinstalling the extension. No error seems to be popping up in the Developer Console in VS Code.

<img width="563" alt="screen shot 2017-09-11 at 2 55 48 pm" src="https://user-images.githubusercontent.com/12402936/30298733-5fa051be-9701-11e7-9ff5-8436c8969dce.p

[2017-09-12 05:57] fr1zle commented on #94
Hey, currently autocomplete only works in mix projects. Do you have a mix project open or are you just testing in a exs file?

[2017-09-12 06:03] akcorp2003 commented on #94
Ah. I just had a plain exs file open.

[2017-09-12 06:05] #92 closed

[2017-09-12 06:12] fr1zle commented on #76
This has been added as a snippet

[2017-09-12 06:12] #76 closed

[2017-09-12 06:12] fr1zle commented on #62
If theres anything we can do in the extension, let me know. I do not have a lot of experience with configuring the syntaxes.

[2017-09-12 06:14] fr1zle commented on #49
Alchemist has been / will be replaced by elixir_sense which is submoduled.

[2017-09-12 06:14] #49 closed

[2017-09-12 06:15] fr1zle commented on #30
see #56 & Microsoft/vscode#21611

[2017-09-12 06:15] #30 closed

[2017-09-12 06:35] #68 closed

[2017-09-12 06:53] fr1zle commented on #42
@lebart & @lperiodbose this seems to work now with the latest code & extension version.

Are you still having issues?

[2017-09-12 08:01] fr1zle commented on #94
Did you try a mix project? Did it work?

[2017-09-12 08:08] #77 closed

[2017-09-12 17:54] akcorp2003 commented on #94
Looks like it's working on a mix project! I'm getting the proper autocompletes that I expect.

<img width="758" alt="screen shot 2017-09-12 at 10 53 50 am" src="https://user-images.githubusercontent.com/12402936/30340851-b7cb383e-97a8-11e7-8a46-018f681174c4.png">

[2017-09-12 17:54] #94 closed

[2017-09-14 19:18] fr1zle commented on #82
We should also try to auto detect the folder including the mix project.

[2017-09-16 16:44] fkumro commented on #93
[HoneyBadger.io](https://www.honeybadger.io/plans/) is the only error monitoring sass product I know of that still has a tier for open source applications.

    Honeybadger is free for non-commercial open-source projects — we're actually the error monitoring system of choice for RubyGems.org and Bundler. Other non-profit organizations get a 20% discount. We don't offer a free plan for commercial a

[2017-09-17 13:01] webdeb opened #95 "FR: JSON (EEx) Support"
Hi, this is a feature request to add support for `json.eex` files.

fyi: I am using these files as API Mocks with embedded variables / and calls to the mocked library.

[2017-09-22 14:07] lypborges commented on #59
@iJackUA you autocomplete is working with this setup? I have a phoenix project inside a docker and the VSCode in my host machine. But the autocomplete doesn't work for me.

[2017-09-22 14:14] iJackUA commented on #59
@lypborges yes, autocomplete still works for me

[2017-10-01 20:54] pikeas commented on #62
Just switched from ST to VS Code, atom highlighting is a must-have!

[2017-10-02 06:48] fr1zle commented on #62
@pikeas atom highlighting is available if you choose a fitting theme. Using "Atom One Dark" it looks like this:

![image](https://user-images.githubusercontent.com/311019/31066626-7cbe870e-a74e-11e7-96c5-44ab799fa42c.png)

[2017-10-07 09:55] fr1zle opened #97 "Autocomplete on function ignores aliased modules"
Given that you have aliased a module:

[code]
Whenn typing
[code]
and selecting the autocomplete for `Exircd.Channel.name`

the InsertText for the completion is the full module name and therefore the aliased modules function shows up as

[code]

[2017-10-07 09:58] fr1zle commented on #97
@untra this seems to have been introduced by #90

Changing
[code]
to
[code]
Will lead to only `name` being inserted.
Is there a way to fix this in the extension, or should this be fixed in elixir-sense?

[2017-10-07 21:18] untra commented on #97
hmm... we need a way to tell if the origin has been previously aliased. elixir-sense doesn't tell us that. And just inserting the name will give an incorrect insertion if the origin wasn't previously aliased.

I don't have the bandwidth to look at this at the moment, however.

[2017-10-14 11:23] Pranz commented on #11
I have added
[code]
to my config and reloaded, yet emmet still doesn't work on Eex files. My `html.eex` files have the language ID `HTML (Eex)` when opened.

[2017-10-14 12:32] fr1zle commented on #11
Can reproduce.

Seems to be an issue with the new emmet (2.0): https://code.visualstudio.com/docs/editor/emmet
Will look into it.

[2017-10-18 01:08] ashleyconnor commented on #11
@Pranz - try adding `"emmet.includeLanguages": {"HTML (Eex)": "html"}`

[2017-10-18 07:20] fr1zle opened #99 "Integrate elixir 1.6 code formatter"
see:

http://devonestes.herokuapp.com/everything-you-need-to-know-about-elixirs-new-formatter

if `editor.formatOnSave` is set to true, we should run the formatter on save.

Maybe we can even provide a formatting extension point as described here:

https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices

[2017-10-18 09:54] Rosetjau opened #100 "Error when using the protox library"
Hi,

I have noticed that when you open a source file that uses the [protox](https://github.com/EasyMile/protox) library and then put the cursor on a symbol to get the documentation hover the hover breaks for the entire project and only shows the string "Loading..."

I have checked the developer tools console and when hovering the first time over a symbol the following text is logged at info level:

[2017-10-18 11:35] securingsincity commented on #99
I can take this one.

[2017-10-18 17:59] fr1zle commented on #100
Hey,
thanks for reporting the issue. This might be an upstream error in elixir_sense. @msaraiva any thoughts?

[2017-10-19 09:24] abishekaditya opened #101 "Is there a way to use this extension without building a mix project?"
I am using exercism and my elixir folder contains pre-written pieces of tests and code in folders that do not have any mix files attached to them. I am not able to use the features of your extension in these situations.
Is this a bug on my end? Or is this not supported?

[2017-10-20 06:00] fr1zle commented on #101
Hi,

currently we can only support Mix projects.

[2017-10-20 11:34] abishekaditya commented on #101
Ok, Thanks

[2017-10-20 11:34] #101 closed

[2017-10-23 13:13] thdxr commented on #82
Any update on this? Thanks

[2017-10-24 15:33] richjdsmith commented on #21
Did this end up getting updated?

[2017-10-24 17:29] fr1zle commented on #21
@richjdsmith Sadly, no. I tried doing this in #34 but there are many edge cases not covered. Feel free to look into it, though!

[2017-10-24 17:32] fr1zle commented on #82
Not yet, sorry. I have this planned for the next release though. Currently trying to figure out how to solve #97

[2017-10-24 18:15] #97 closed

[2017-10-26 05:22] the-shank commented on #38
This would be really useful !

[2017-10-29 12:56] agonzalezro commented on #51
Hi!

Could we reopen the discussion after Elixir 1.6 introduced  `format`?

There are some tools already that do it: https://marketplace.visualstudio.com/items?itemName=sammkj.vscode-elixir-formatter, do you want to keep them separate or do you think it's a good addition to `vscode-elixir`?

[2017-10-29 13:17] fr1zle commented on #51
Hey @agonzalezro,
i opened #99  for this a few days ago. @securingsincity started working on this in #102

[2017-10-31 09:11] fr1zle commented on #11
@ashleyconnor : This seems to work when a added to a user settings. Somehow this does not work if I add a contribution to the extension providing the setting...

Any ideas?

[2017-10-31 12:27] Pranz commented on #11
@ashleyconnor Thanks, works if I put it in my user config.

[2017-11-01 10:15] fr1zle commented on #82
#97 has been solved and this will be available in the next release. You will be able to specify the setting `elixir.projectPath` in the `.vscode/settings.json` of your project.

This will only allow you to specify one mix project though. The workspaces feature (opening multiple projects in one vscode window) is currently not supporting this.

If we can't find a mix project in the specified folder,

[2017-11-01 10:16] fr1zle commented on #62
This will be added in the next release

![image](https://user-images.githubusercontent.com/311019/32270419-280b6ee2-bef6-11e7-988c-7e0921488ee1.png)

[2017-11-01 10:16] #62 closed

[2017-11-01 10:18] fr1zle commented on #100
@Rosetjau: Did you try compiling the project (using `mix compile`)? Try restarting vscode after doing so.

If this doesnt work, if would be glad if you could provide a small sample project reproducing the issue

[2017-11-01 11:00] #11 closed

[2017-11-01 15:50] Rosetjau commented on #100
Hi,

unfortunately compiling the project and restarting vscode does not fix the problem. As soon as you restart vscode, open a file that uses protox and hover over a symbol the extension breaks.

I have created a small sample project for you: https://github.com/Rosetjau/vscode_elixir_protobuffer

Thanks a lot!

[2017-11-01 15:51] Rosetjau commented on #100
Ops, I accidentally closed the issue. Reopened now.

[2017-11-01 20:34] fr1zle commented on #100
Thanks, i can reproduce this now. Seems like a pretty hard crash in elixir_sense.

Did you try to add protoc to your `$PATH`? According to the docs it should only be requried for compilation of the lib but maybe something that elixir_sense does requires it? If you haven't i will try later.

[2017-11-02 16:55] fr1zle commented on #42
Closing this as there was no more feedback.

[2017-11-02 16:55] #42 closed

[2017-11-02 16:58] abartier commented on #42
@fr1zle sorry I missed your last update. I'll reopen it if not resolved.
Thanks !

[2017-11-04 01:08] mgwidmann opened #104 "Go To Definition does not work"
No sure whats going on here, but jumping to definitions does not work, is this a feature?

You can see me here, hitting f12, trying to go to the definition of the function directly below but it says there is no definition. I ensured that `mix compile` succeeded before trying.

Elixir 1.5.1 clicking on `preload_each` here:
https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/preloader.ex#L

[2017-11-04 01:11] mgwidmann commented on #104
Perhaps its because its a private function, is there no way to support this?

[2017-11-04 08:29] fr1zle commented on #104
Thanks for the reporting the issue. I can reproduce this in the ecto project.

Jumping to private functions seems to work fine in other projects. Mabye it is because there are multiple definitions of it. This seems to work in other projects though (will only go to the first found definition though..)

I will have to investigate this a bit more.

[2017-11-04 08:41] fr1zle commented on #104
Seems to be an upstream (elixir_sense) issue, as it doesnt work in the atom extension as well. Not sure if there is anything elixir_sense can do since it release on information elixir provides.

It does work in the IntelliJ Plugin, but they have there own parser, which seems to be the most valueable/flexible way to go...

[2017-11-07 16:28] smithjessk opened #105 "Presence of `def` in autocompletion of GenServer methods"
I see the `handle_call` autocomplete option when I have the following code snippet:

[code]

However, I when I autocomplete `handle_call` by hitting enter, I get:

[code]

with the extra space before the function name and lack of the `def` keyword.

When I autocomplete **with** the `def` keyword (i.e. from `def handle_call`), I get:

[code]

The same problem also exists for `handle_info` and `hand

[2017-11-07 16:36] smithjessk opened #106 "`GenServer` autocomplete options don't print their last character"
The completions of the return values of `GenServer` statements are incomplete. For instance, one completion option for the following code stub is `{:reply, reply, new_state}`:

[code]

However, the last character of the autocomplete is always absent. This autocompletes to:

[code]

This seems to be present for all of the options. For instance, `{:noreply, new_state, timeout | :hibernate}` is enter

[2017-11-07 18:38] smithjessk commented on #105
Actually, this seems to be from ElixirSense since changing to Alchemy does not provide the same auto-complete options. Sorry for the confusion.

[2017-11-07 18:39] #105 closed

[2017-11-07 18:39] smithjessk commented on #106
Actually, this seems to be from ElixirSense since changing to Alchemy does not provide the same auto-complete options. Sorry for the confusion.

[2017-11-07 18:39] #106 closed

[2017-11-21 11:49] Speedkore opened #107 "Find all references not working for me"
"Go to definition" works correctly, but i can't get "Find all references" to work, nothing shows, so i have to use a terminal with ag/rg/grep commands to find usages of the functions.  I don't know what could be the cause or what i'm doing wrong in my installation.

What i do is open the root folder of my project with the "open folder" in the "file" menu, but i don't configure anything more. Autoc

[2017-11-22 07:15] fr1zle commented on #107
Hi, finding references is currently not supported by this plugin.

[2017-11-22 09:42] Speedkore commented on #107
Ok np, i have never done a plugin for vscode but i would try to help doing a pull request if it's not too complicated.

[2017-12-06 22:24] vheathen opened #109 "Proposal: Add configuration property for "elixir" command"
Hello!

I'm running VS Code on Windows, but have my elixir dev environment inside of the WSL (Windows Subsystem for Linux). I struggled to get vscode-elixir work but it didn't (for the obvious reasons).

Finally I've found a temporary solution until vscode itself be able to work with\run extensions inside WSL natively. But for this I need a custom command to run elixir processes. Now it is possibl

[2017-12-07 21:09] fr1zle commented on #109
Yeah, wanted to support this for a long time now. Will try to get this done this weekend.

[2017-12-11 03:23] RumataEstor commented on #99
It's already being done here: #102

[2017-12-20 18:18] thdxr opened #111 "Problems file path incorrect with using projectPath"
It seems the projectPath is not respected when showing problems (get a file not found error)

[2017-12-31 16:04] #99 closed

[2017-12-31 16:06] #38 closed

[2018-01-08 07:07] fr1zle opened #113 "Make language IDs compliant with new identifier guidelines"
Docs: https://code.visualstudio.com/docs/languages/identifiers#_new-identifier-guidelines

This is a breaking change as it may have an influence on other extensions relying on the current ids. The impact will have to be investigated.

Primer: https://github.com/vscode-icons/vscode-icons/issues/1414

[2018-01-09 18:49] JimiC commented on #113
Just a friendly advice. Since this is a breaking change if you are following [Semantic Versioning](https://semver.org/) the version number should be bumped to `2.0.0`.

[2018-01-09 18:56] fr1zle commented on #113
Yup, probably the smart thing to do. Will still have to check if there is a way for me to find out if any extensions are depending on the identifiers.

[2018-01-09 19:02] fr1zle commented on #109
@vheathen : Would you mind testing https://github.com/fr1zle/vscode-elixir/pull/115 with your setup? The configuration is called `elixir.command`.

[2018-01-09 19:09] JimiC commented on #113
From what I know, only file icon extensions and the client of the said extension, if that extension has a server service, are depending on the `language ids`. You may probably want to give a heads up to other file icon extension author about this change.

[2018-01-11 18:36] scout119 commented on #111
It also doesn't work with umbrella projects. A problem reported for a source file using relative path for a project that files belongs to. It should take into account
- parent umbrella project location
- apps_path settings in umbrella's mix.exs
- project name(path) inside umbrella

Thanks!

[2018-01-17 07:19] ryanwinchester opened #118 "Should @spec syntax highlighting be more muted/subtle?"
I personally find the `@spec` syntax highlighting to add too much visual noise to my code.

I find it harder to scan for specific functions I'm looking for, and it fights for attention with function definitions.

Does anybody else feel this way at all?

How hard would it be to make something similar-looking to _(shudders)_ PHP docblock which doesn't fight as much for attention but still easy to pi

[2018-01-17 09:26] h4cc commented on #118
I can recommend the highlighting the Elixir Plugin for IntelliJ IDEA @KronicDeth uses:

![intelij-elixir-highlighting](https://user-images.githubusercontent.com/2981491/35035165-c580bcfc-fb70-11e7-8109-b89da2cb6cfb.png)

[2018-01-17 10:54] ryanwinchester commented on #118
I think, what I'm trying to say is that I think @spec should look closer in appearance to documentation than code.

Does anybody else think so?

[2018-01-18 12:44] vheathen commented on #109
@fr1zle sorry for a long reply! Sure, I'll test it on week-end!

[2018-01-19 09:24] benperiton commented on #118
I tend to agree, but I'm not sure it should be the same coloring as documentation - as it is a different thing.

But not having the same highlighting as 'actual' code would be nice.

[2018-01-23 19:01] micahrye opened #119 "Wrong Snippet for handle_cast"
The snippet generated for `handle_cast/2` is wrong. It generates the following with arity 3
[code]

It should be:
[code]
def handle_cast(request, state) do
    {:noreply, new_state}
end
[code]

[2018-01-24 11:16] vheathen commented on #109
Thanks a lot for this feature, it seems to work!

[2018-01-28 12:54] mvalitov opened #120 "list of problems does not work"
I ran into a problem that I could not solve. I have two computers, both asdf and elixir 1.6 are installed on them.
At the same time on one computer the list of problems works correctly, and on the second one it is always empty.
![_2018-01-28_15-49-31](https://user-images.githubusercontent.com/8917265/35482231-0eaf468e-0443-11e8-855c-1cbe2c4e4b4a.png)
[code]

the path to the installed elixir matche

[2018-01-29 09:26] michalmuskala opened #121 "Autocomplete sigil terminator"
Today, some sigil terminators wil autocomplete, but others won't - this is especially annoying with the simple `""` terminators since after adding one `"` the other is not completed, but adding another one automatically tries to close it. The result is that one ends up with three quotes instead of two.

What works:
* `~r[` completes to `~r[]`
* `~r{` completes to `~r{}`
* `~r(` completes to `~r()`

[2018-02-02 13:41] optikfluffel opened #122 "Support Markdown Fenced Code Block Grammar"
I'd love to have syntax highlighting inside markdown code blocks:

[code]

There is [an Example Repo](https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example) I found in Microsoft/vscode#34891, but I just started using VSCode and don't feel confident enough (yet) to open up a PR and give it a try on my own.

[2018-02-06 19:57] dogweather commented on #118
Yes, this is an excellent idea. But wouldn't this be up to individual themes?

[2018-02-07 01:53] KronicDeth commented on #118
@fr1zle I feel for you: people fighting about the default color schemes, when anyone can create and publish their own themes, has generated a lot of issues for me.

For any users that want to generate their own themes, I explain why I decided to make certain colors close or contrasting in https://github.com/KronicDeth/intellij-elixir/blob/master/COLOR_SCHEME_DESIGN.md.

[2018-02-27 13:48] Coffei opened #125 "Symbol provider not working"
Hi,
the symbol search in elixir files does not work for me, when I invoke "Go To Symbol In FIle" with Ctrl+Shift+O I only see `No symbol information for this file`.

As I would like to use it to quickly move between functions, as I do in spacemacs, I did a little search and found there is an implementation that should work - [vscode-elixir/src/elixirSymbolProvider.ts](https://github.com/fr1zle/vsc

[2018-02-28 18:55] fr1zle commented on #125
I havent come around to release this version yet. Will try to do so this week.

[2018-02-28 18:59] #109 closed

[2018-03-01 05:36] abishekaditya opened #126 "Syntax highlighting in interpolations"
currently, in interpolated strings if we pass a function with a parameter, both of them are colored using the same color. It would be better to colour it differently to make it more visually striking.

[2018-03-01 09:42] Coffei commented on #125
Ah, good. I think I tried running the extension from source and saw no difference, but that was some time ago. I'll try the same today and let you know.

[2018-03-01 09:56] Coffei commented on #125
OK, on master it also doesn't work, although it behaves differently. On master it seems to be _processing_ the file, as it displays an indefinite progress bar below the search input - https://imgur.com/a/e6K3H.

[2018-03-01 18:35] pbudzik commented on #125
@Coffei full support for this is in the PR: https://github.com/fr1zle/vscode-elixir/pull/117 ... waiting for merge :)

[2018-03-05 18:58] atelles opened #127 "Autocomplete # to #{} when inside a String"
I think most of the time someone types a '#' inside a String it's to do an interpolation.

So it would be nice if when we type '#' inside a String, it would already autocomplete to '#{}' and move the cursor after the '{', just like when you open a parenthesis.

[2018-03-12 11:21] Coffei commented on #125
OK, I got confused since the provider in master looks like it should do something but doesn't. Since we already have a PR for better implementation I guess we can close this issue.
Thank you!

[2018-03-12 11:21] #125 closed

[2018-03-18 13:36] michalmuskala commented on #69
While detecting tasks from mix would be useful, I still think `test` task should be special-cased. Otherwise it would be hard to provide things that are specific to the test tasks like running just one file or one line.

[2018-03-18 13:49] michalmuskala opened #128 "Relation to vscode-elixir-ls"
Right now it seems we have two packages for elixir support in visual studio with somewhat overlapping functionality - [JakeBecker/vscode-elixir-ls](https://github.com/JakeBecker/vscode-elixir-ls).

Both provide syntax highlighting, both provide some form of intellisense and I suspect there's probably more overlap. Would it make sense to join forces and deduplicate the features? I personally find s

[2018-03-18 13:53] michalmuskala commented on #69
This should be useful for writing the code for detecting project tasks: https://github.com/Microsoft/vscode/tree/master/extensions/gulp - it does the same for gulp, so I imagine the difference for mix would be minimal.

[2018-03-18 14:29] optikfluffel commented on #128
@michalmuskala there was a start of a discussion around merging at JakeBecker/vscode-elixir-ls#8

[2018-03-18 15:03] michalmuskala commented on #128
Oh, I missed that one, I'm sorry.

It seems, though, that the elixir 1.6 release addressed a large part of the stability concerns in the language-server and compiler integration. I've been using elixir-ls for a while now and I didn't have much issues (I'm usually on some version of elixir master, though).

[2018-03-19 21:55] JakeBecker commented on #128
I like the idea of combining them now that ElixirLS is stable. A significant portion of the client code is copied verbatim from vscode-elixir already, and I'd be happy to have someone else helping to maintain that. I do like being able to manage my own release schedule, though, and I've also made some potentially controversial changes from vscode-elixir, such as removing some snippet shortcuts in

[2018-03-21 06:17] stevepm opened #129 ".eex formatting?"
Does this exist? Nothing happens when I try to auto format a file with a `.eex` extension. Am I doing something wrong?

[2018-03-24 09:09] fr1zle commented on #128
I also like the idea a lot. I always thought having a language server would be the better solution for this plugin.
Sorry for my late response, but i still don't get to use elixir at the workplace (boo!) and we are expecting a baby so I currently don't have a ton of freetime either. So naturally i am happy to get more contributors and maintainers on boad.
I think its a good idea to move to @elixir

[2018-03-24 13:30] JakeBecker commented on #128
I'd suggest closing issues on vscode-elixir and recommending that users re-file them on the new repo only if they're still reproducible after the change. (That puts some burden on users to test and re-file issues, but better than us having to test whether they're all still valid.)

I've been using this app to move issues between repos when needed, and I should be able to move issues from vscode-el

[2018-03-25 02:18] michalmuskala commented on #128
We should be able to move one of the repos entirely to the organisation - I think this should be better than creating an entire new repository, then we could migrate issues from the other repository using the mover app.
I got the keys to the castle and invited you both to the organisation.

[2018-04-08 12:21] GuyBransgrove opened #130 "Add new snippet for doctests"
Given that doctests/examples require such specific formatting I think it would be beneficial to add a snippet to template them. I've made my own as a personal user snippet but I think default inclusion would be a nice tiny enhancement.

[2018-04-21 07:50] vladzadvorny opened #132 "Names for items"
please create names for these items, if possible. I want to highlight them in my theme 😊

![screen shot 2018-04-21 at 10 44 13 am](https://user-images.githubusercontent.com/8509616/39081849-423ed27c-4551-11e8-8ee0-4c30af5c9357.png)
![screen shot 2018-04-21 at 10 44 24 am](https://user-images.githubusercontent.com/8509616/39081852-44f226f4-4551-11e8-8534-132061514073.png)

[2018-04-27 17:43] ijverig opened #133 "Should't do: be highlighted in this context?"
`do` is correctly highlighted in a `do … end` block.
However, when we use its short version, `do` looses its color:

![screen shot 2018-04-27 at 14 38 10](https://user-images.githubusercontent.com/343219/39376703-fe5dbdc0-4a28-11e8-9e96-4973fa27618f.png)

It's then parsed as a named parameter (keyword list), which it is, but it's still the `do` block and IMHO should be highlighted as such.

Though

[2018-05-21 12:38] AlmogRnD commented on #129
+1, having the same issue I get the following error message "There is no document formatter for 'HTML (Eex)'-files installed."

[2018-05-30 19:47] arkadyan opened #135 "defdelegate snippet is missing comma between function name and "to:""
Currently the defdelegate snippet does not include a comma between the function name insertion point an the `to:` key, i.e.:

    defdelegate $1 to: $0

Personally I expected it to work more like:

    defdelegate $1, to: $0

[2018-06-20 18:16] ryanwinchester commented on #95
Also `xml.eex` would be nice, too

[2018-06-22 13:08] Eqls opened #138 "Pipe symbol get converted to front slash"
Everytime I try to type in pipe symbol ("|") I get front slash ("/"). Although if I try to do it 2 times i get OR operator ("||").

MacOS High Sierra

[2018-06-28 13:59] kexoth commented on #38
For anyone interested on the matter, there's a [separate plugin which includes symbols](http://github.com/perix4/vs-code-elixir-symbols) & works as expected.

[2018-06-29 03:28] the-shank commented on #38
@kexoth Thanks, will check it out

[2018-07-11 17:06] x-ji opened #139 "Triggering line comments in eex files"
Normally `Ctrl + /` should comment the line, and in `.eex` files the comment syntax is the same as in normal html files, unless it's a code statement, in which case one should use the Elixir comment syntax `#`.

In Emacs + Alchemist both types of comments can be triggered correctly. In some other editor/plugin combinations only the HTML one is triggered, which is fine most of the time. However in

[2018-07-15 13:09] WildYorkies commented on #133
I'm going to bump this up.
[code]

That's totally valid and very common. Should be an easy change in the syntax config.

[2018-07-17 09:27] himanshu0128 opened #140 "Do not Remove \n from the end of file on saving"
The formatonSave feature seems to remove \n from the end of the file. When I run mix format from the terminal, it adds the \n at the end of the file. This needs to be fixed.

[2018-08-13 01:29] ciceropablo commented on #140
:+1:

[2018-08-30 13:06] erikreedstrom opened #142 "Hover Provider Crashes"
The current version of the extension is not displaying anything now on hover.
I am running 1.7.2 and OTP 21.0.4.

On hover, nothing happens and am presented with the following errors:

[code]
[code]
[code]

[2018-09-06 02:09] cdiebold commented on #129
In your vscode settings, add this line.
“files.associations”: {"*.html.eex": “html”}

This will make vscode treat eex files as html files. You should now be able to format them however you format html.

[2018-09-28 13:38] fr1zle commented on #128
You can now manage VSCode extensions via the website and i can add new publishers.
As I am currently doing no elixir development I would be happy to merge with elixir-ls asap.

@JakeBecker @michalmuskala are you still interested in moving forward with this?

[2018-10-01 16:55] hypno2000 commented on #129
but this will remove the `<% ... %>` formatting completely

[2018-10-25 20:07] x-ji commented on #129
That doesn't actually work since it will break the `<% ... %>` part, at least with Prettier. Is there any formatter that actually supports formatting `.html.eex` files correctly without introducing syntax errors?

[2018-10-28 10:40] smahi commented on #11
@ashleyconnor thank you so much.

[2018-11-08 16:23] mtarnovan commented on #122
Has this been fixed? I still don't see syntax highlight in Elixir code blocks in Markdown files. I took a brief look at the commit and I'm not sure if the `plantuml` references are accidental.

[2018-11-10 06:10] JPYamamoto commented on #109
Is it possible to use the elixir executable inside WSL without those extra files? If so, could you document it? Thanks

[2018-12-05 16:56] pinksynth opened #144 "Double-quotes within HTML attributes break syntax highlighting"
HTML attributes don't seem to recognize Elixir interpolation, causing them to catch double-quotes within Elixir and close attributes early. See attached image for explanation.

<img width="848" alt="image" src="https://user-images.githubusercontent.com/25071920/49529593-fc28d380-f87b-11e8-8f70-30001b85ca4f.png">

Example text:
[code]

[2018-12-15 13:46] fklement commented on #129
I found a solution that works for me quite well.
I use the [Beautify](https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify) extension for VSCode.  And I added this in my user settings:
[code]
Then all my `.html.eex` files are formatted correctly. Except code that is in `<% ... %>` tags.

[2019-01-07 19:51] leebenson commented on #129
@fklement - Beautify is turning this:

[code]

into this:

[code]

(note the newline in the `src` attr)

Any known workarounds? Thanks.

[2019-01-09 17:09] fklement commented on #129
@leebenson I also found this problem. But so far I haven't found a working solution. I will post it here if I find something.

[2019-01-17 20:40] andreolvr commented on #144
I'm using ElixirLS, and since it's based on this extension, i'm facing the same problem. Using ElixirLS and [this extension](https://github.com/maxmellen/elixir-language-support) together seems to solve the problem, but i can't make Emmet work when using this other extension. Do you have any updates on this?

[2019-01-25 20:22] fklement commented on #129
@leebenson I finally had some time to fiddle around with the formatting problem.
It is really unsatisfying that there is nearly nothing on the net for `.html.eex` files.
But I figured a way out with the beautfy settings so that the wired newline is not happening anymore for script as well as some other things that bugged me.

I'm using this config now and as far as I can tell (only used it the pas

[2019-02-01 07:12] fklement commented on #144
I opened a PR #146 for that problem.
The solution with normal HTML comment tags works really well for me.

[2019-02-04 19:50] TimFung93 commented on #21
I can try and take a look at this

[2019-02-05 10:32] mberrueta opened #147 "Duplicate definition force peek editor appears"
Version 1.30.2
vscode-elixir 1.1.0
macos 10.14.3 (Mojave)

Trying to use `go to definition` always show the `peek editor` (it's disabled) and seems that there shows duplicate reference (to the same)

![image](https://user-images.githubusercontent.com/1004448/52267560-1a608d80-2918-11e9-9e39-9a2a49d88c0c.png)

[2019-02-09 05:00] synapse709 opened #148 "Emmet code expansion for html.eex files while still supporting eex as elixir file"
This is NOT a duplicate of (https://github.com/fr1zle/vscode-elixir/issues/11)

I've added the following to my user settings:
[code]

However, emmet code expansion for html will only work in .eex files if I change the following from:
[code]
to
[code]

Is there a way to make vscode see the file as an elixir file, but also enable code expansion with emmet?

I have this extension installed to add eli

[2019-02-14 16:38] synapse709 commented on #148
**SOLUTION:**

[    "files.associations": {
        "*.eex": "elixir",
        **"*.html.eex": "html"** **_<- this was the missing piece_**
    },](url)

That needed to be included along with:

[   "emmet.syntaxProfiles": {
        "HTML (Eex)": "html",
        "javascript": "html",
    },
    "emmet.includeLanguages": {
        "HTML (Eex)": "html",
        "javascript": "javascriptreact",
    },

[2019-03-08 16:38] shmink opened #149 "Collapse documentation"
I normally write really lengthy documentation. Well, where appropriate. The downside however is that majority of lines in my modules is documentation. I can collapse functions by going into the _gutter_ with the lines numbers and click on the relevant `-` button. There is no option for this however when it comes to lines that have `@doc` for example.

[2019-03-21 10:23] shmink commented on #149
Any interest in this?

[2019-04-01 15:48] rossvz commented on #128
Was anything resolved here as far as combining these two? I realized today I am running both packages in VS Code, which I'm sure is not recommended...

[2019-04-01 17:20] fr1zle commented on #128
Sadly there wasnt any progress on this issue. I suggest you staying with vscode-elxiir-ls for now since this plugin isnt really maintained any more.

[2019-04-25 23:48] zcking commented on #104
I know this issue is _really_ old, but I just started using the extension and I noticed "Go to Definition" does not work for me when the elixir project directory isn't the root directory opened in vscode (i.e. I have a directory `my_app_name/` that contains multiple subdirectories, one of which is a phoenix "backend" API.

However, if I open just the phoenix backend API directory with vscode, this

[2019-05-01 01:15] mgwidmann commented on #104
I personally forgot I even opened this issue and have just been using CMD+F to find private functions. Sucks, wish this would get fixed...

[2019-05-09 10:15] ahmetcetin commented on #113
@fr1zle when do you plan to merge this pr? I just those changes manually in my installation files, it worked, but would be nice to have it in distro.

[2019-05-10 17:04] z2665 opened #150 "No documentation available"
I installed elixir with Precompiled package
When I use vscode then it show No documentation available with anything.
![image](https://user-images.githubusercontent.com/11162926/57543924-66dcbe80-7388-11e9-841a-2e7f90b4ca00.png)

What heppned with it. How can I get the doc?
Thanks

[2019-05-10 20:20] ewildgoose commented on #129
I think the issue is that the .html.eex syntax needs to be implemented as an "embedded language" rather than as it is? This way it's treated as an HTML file, but has embedded elixir in <% %> sections

https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide

[2019-06-10 21:04] Fire-Dragon-DoL opened #152 "Ctrl+D ignores dots when this extension is installed, in Elixir files"
Hello,
When this extension is installed, Ctrl+D (Add Selection To Next Find Match) seems to behave differently (on elixir files). Instead of selecting one word, it selects one word **ignoring dots**, which means it selects entire lines in some situations. Example:

[code]

Assuming cursor is on `Bar` (letter `a`), if I press CTRL+D with the extension enabled, it selects `Foo.Bar.Baz`. With the ext

[2019-06-16 10:41] msudgh opened #153 "Intellisense: list of modules"
I expect to intellisense show list of my project modules. I'm using Phoenix and i want to have controllers in intellisense list and other stuff.

[2019-06-17 11:17] CellPhoneYeah commented on #104
I got the same problem

[2019-07-12 20:03] koutselakismanos commented on #148
Now its "HTML (EEx)" not "HTML (Eex)"

[2019-07-12 20:03] koutselakismanos commented on #11
Now its "HTML (EEx)" not "HTML (Eex)"

[2019-08-11 02:15] diazgilberto commented on #104
If you install the `ElixirLS` package you can go to definition (`cmd+shift+o`) within the same file you are working on. What doesn't work is `cmd+t` that is going to a symbol within the project.

[2019-09-15 03:04] oliroy commented on #104
@zcking I think your issue regarding the elixir project not being the root folder of the open workspace can be solved by setting the following setting on the project or user level for the plugin:

[code]

An easy way to modify this setting is to:

1. Navigate to the plugin tab
2. Search for the plugin
3. Click the gear icon on the plugin card
4. Click on "Configure Extension Settings"
5. Set the "

[2019-11-11 02:26] michaelperrygoodman commented on #144
@andreolvr

Had this issue, came across this thread. The double quote situation is fixed using the two extensions as you suggested. My Emmet is working however, and I believe it is because I added `"HTML (EEx)": "html",` to emmet.includeLanguages in settings.json. I can't recall where, but I had read somewhere that there was some change in EEx (the second capital letter is important?) and this is

[2019-12-11 11:13] matixmatix opened #154 "Could not find a Mix project"
Hey, I've been getting the following error when opening a freshly generated Elixir project:

![image](https://user-images.githubusercontent.com/273660/70616816-977f2200-1c0f-11ea-9908-2b8544d636d3.png)

`mix.exs` is in the root folder. The folder looks like this:

![image](https://user-images.githubusercontent.com/273660/70616842-a7970180-1c0f-11ea-8b61-cd3b457bbce1.png)

Any ideas?

[2019-12-11 11:37] matixmatix commented on #154
Closing this issue because I'm an idiot! Thanks for making `vscode-elixir`.

[2019-12-11 11:37] #154 closed

[2020-01-23 03:06] malloryerik commented on #129
As @ewildgoose suggests most formatting, intellisense, autocorrect and eex syntax highlighting seems to work with `html.eex` set as an embedded language in `settings.js` as follows:
[code]
However there's still a problem as Eex tags only seem to indent at one level.
Like so:

[code]

and not

[code]

[2020-02-02 14:44] dorian-marchal commented on #128
Like @rossvz, I was running both packages in VSCode.

Maybe we could add a deprecation warning at the top of `README.md` to guide newcomers to `vscode-elixir-ls`? Especially since `vscode-elixir` has more downloads.

Would you accept a PR for that?

[2020-03-04 23:01] dylan-chong commented on #99
whats going on with this? i notice that the current formatOnSave does not respect the rules from mix format

[2020-03-09 03:30] jamilabreu commented on #144
Seeing the same - @fr1zle, any idea what might be causing it?

<img width="1005" alt="Screenshot 2020-03-08 23 29 03" src="https://user-images.githubusercontent.com/266831/76180547-a042ae00-6194-11ea-8ffb-97d3c44feda1.png">

[2020-04-02 04:28] anacanm opened #155 "Intellisense not working at all"
Hi there, I was using your extension and then it stopped working as of today. I am not sure what could have caused the intellisense and code completion to have stopped working all of a sudden, but it has.
This is while working within a project created by  mix new

elixir --version: Erlang/OTP 22, Elixir 1.10.2

which elixir: /usr/local/bin/elixir

I hope you can help me, I really enjoyed your tool

[2020-04-10 03:15] #155 closed

[2020-04-16 22:53] latachz opened #156 ".leex formatting?"

[2020-05-12 15:28] feitelogram opened #157 "Autocomplete also not working"
![Screen Shot 2020-05-12 at 11 19 23 AM](https://user-images.githubusercontent.com/53449210/81712418-8ea2ae80-9442-11ea-84f4-f0a1b0950706.png)

Hi there.

I read the [previous link](https://github.com/fr1zle/vscode-elixir/issues/65) on the autocomplete working and tried changing `this.command` in the `elixirServer.js` file but I'm still getting the "loading" hang when I try to use intellisense and

[2020-05-15 14:10] DianaOlympos commented on #156
Just add
[code]

[2020-05-17 23:25] mplatts commented on #11
If you're using elixir-ls plugin - it's now:

[code]

[2020-06-05 17:15] swaathi commented on #129
In settings.json, just add this

[code]

This will consider .eex/.leex files as ERB (Rails) and preserve formatting for `<%= ... %>`.

[2020-06-12 01:03] rodrigoreis22 commented on #157
@feitelogram same here, did you figure this out?

[2020-06-12 01:05] feitelogram commented on #157
Nope!

Nicholas Feitel
fun human (def not bot)
646-657-9798 cell
Portfolio (coding)
Performer Website

[2020-06-14 16:07] MC-DeltaT commented on #157
I'm having the same issue, I think it might have something to do with elixir-sense.

Looking in the developer console, there seem to be some elixir-sense errors:
[code]

Unchecking the "Use elixir-sense instead of alchemist-server" setting seems to make autocomplete work again.

[2020-06-14 16:13] feitelogram commented on #157
Ooh where do I uncheck that?

On Sun, Jun 14, 2020 at 12:08 PM Reece Jones <notifications@github.com>
wrote:

--
Nicholas Feitel
fun human (def not bot)
646-657-9798 cell
Portfolio (coding) <https://wonderful-jackson-9e020f.netlify.com/>
Performer Website <http://nicholasfeitel.com>

[2020-06-14 19:15] oleksiial commented on #157
@MC-DeltaT thank you it works for me also!

@feitelogram, Press "ctrl + ," to open settings and start typing "Use elixir-sense instead of alchemist-server". You will see the checkbox.

[2020-06-14 19:16] feitelogram commented on #157
I got it! I’m a doofus! Thanks so much guys!

Nicholas Feitel
fun human (def not bot)
646-657-9798 cell
Portfolio (coding)
Performer Website

[2020-06-15 12:33] MC-DeltaT commented on #157
I wouldn't say using alchemist-server is the ideal solution, it seems like it doesn't give as many suggestions as elixir-sense (for me at least). It doesn't always suggest local variables or things from other files.

[2020-07-05 13:53] exanup commented on #129
I don't know if I am supposed to share a different formater specialized for `eex` and `leex`, but this actually worked for me. Also saves formatting for `<% %>`. Also, I didn't have to change `settings.json`. However, I was required to `gem install htmlbeautifier`.

Here is the link: https://marketplace.visualstudio.com/items?itemName=ouven.vscode-yab-for-eex-leex
Repo: https://github.com/ouven/vs

[2020-07-13 10:42] mustela opened #158 "Formatting on Save hangs indefinitely"
What is happening is when you save a file and the formatter runs it just hangs indefinitely. If I hit cancel the file will format properly and finish saving.

I've also created an [issue in the vs code repo](https://github.com/microsoft/vscode/issues/102367) but the solution is to disable the extension...

Anyone experience the same problem?

Thanks a lot!

[2020-09-02 22:29] VinnyVynce opened #159 "Publish vscode-elixir on the open VSX registry"
Hi! I would love to see this project published on the [VSX registry](https://open-vsx.org/) so people using VSCode forks, such as VSCodium for example, could use this fantastic extension without too much hassle.
Thanks!

[2020-09-04 18:26] lastobelus commented on #11
`"emmet.includeLanguages": { "html-eex": "html" }` is working for me for .eex & .leex files, but has anyone figured out how to get emmet expansion in sigils?

[code]

[2020-09-28 12:44] RobertLowe commented on #157
I have this problem as well. :(

[2020-09-30 22:52] luizbaldi commented on #157
I was having the same problem and unfortunately looks like this repository is not being actively maintained anymore. After some research, I found [this](https://marketplace.visualstudio.com/items?itemName=JakeBecker.elixir-ls) extension which solved my problem, hope it helps y'all as well :)

[2020-12-28 10:13] yossarin commented on #158
I have the same problem, it is really annoying. ElixirLS server is sloooow, but it works. This extension is fast, but formatting does not work!

[2021-01-20 18:36] sbaildon commented on #11
Yes, you can do

[code]

The key is the language type, and the value is an "emmet supported language", although what those values are is a bit ambiguous (see https://github.com/microsoft/vscode-docs/issues/3935)

[2021-02-19 22:31] sraka1 commented on #100
@fr1zle any updates here? Also getting this crash...

[2021-09-03 09:24] bottlenecked commented on #11
For anyone looking support for the new `.heex` the language you need to
- install the Phoenix Framework vs-code extension from https://marketplace.visualstudio.com/items?itemName=phoenixframework.phoenix
- add the following configuration
[code]